* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px; 
    font-family: monospace;
}

p {
    font-size: 16px; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    gap: 5px;
}

button {
    padding: 5px 10px;
    background-color: #2072c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #010509;
}
