* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 15px;
    font-family: cursive;
}
body {
    display: flex;
    justify-content: center;

    height: 100vh;
    font-family: Arial, sans-serif;
}

.counter-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    height: 175px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#counter {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007BFF;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#increment-button {
    background-color: #28a745;
    color: white;
}

#increment-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#reset-button {
    background-color: #dc3545;
    color: white;
}

#reset-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
